certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.53.0
idna==3.7
Jinja2==3.1.4
kiwisolver==1.4.5
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib==3.9.0
mne==1.7.1
numpy==2.0.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
scipy==1.14.0
six==1.16.0
tqdm==4.66.4
urllib3==2.2.2
